{% extends "TEMImainBundle:Temi:layout.html.twig" %}
{% block body %}
    <div class="form-group">
        <label>Nom :</label>
        <input type="text" class="form-control" id="nomUser" title="nomUser" placeholder="Veuillez saisir votre nom"/>
    </div>
    <div class="form-group">
        <label>Prenom :</label>
        <input type="text" class="form-control" id="prenomUser" title="prenomUser"
               placeholder="Veuillez saisir votre prenom"/>
    </div>
    <div class="form-group">
        <label>Email :</label>
        <input type="email" class="form-control" id="mailUser" title="mailUser"
               placeholder="Veuillez saisir votre Email"/>
    </div>
    <div class="form-group">
        <label>Mot de passe :</label>
        <input type="password" class="form-control" id="mdpUser" title="mdpUser"
               placeholder="Veuillez saisir votre mot de passe"/>
    </div>
    <div class="form-group">
        <label>Confirmer mot de passe :</label>
        <input type="password" class="form-control" id="mdpUser" title="mdpUser"
               placeholder="Veuillez encore saisir votre mot de passe"/>
    </div>
{% endblock %}